
@{
    ViewBag.Title = "sinAcceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acceso restringido</h2>

<h1>Señor usuario...</h1>

<h2>Usted no tiene permisos para realizar este proceso</h2>



